<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cl.andina.tesis.mappers.ClienteMapper">
	<update id="desactivarCliente">
		UPDATE CLIENTE
		SET
		ACTIVO = 0
		WHERE ID = #{id}
	</update>

	<update id="activarCliente">
		UPDATE CLIENTE
		SET
		ACTIVO = 1
		WHERE ID = #{id}
	</update>

	<select id="buscarCliente" statementType="PREPARED" resultType="clienteDTO">
		SELECT
		C.ID,
		C.CODIGO_TRIBUTARIO,
		C.NOMBRE                  AS NOMBRE,
		G.NOMBRE                  AS NOMBRE,
		C.PERSONA_NATURAL,
		C.CON_INICIO_ACTIVIDADES
		FROM CLIENTE C
		INNER JOIN GIRO G ON C.ID_GIRO = G.ID
		WHERE C.ID = #{id}
	</select>

	<select id="buscarClientesActivos" statementType="PREPARED" resultType="clienteDTO">
		SELECT
		C.ID,
		C.CODIGO_TRIBUTARIO,
		C.NOMBRE                  AS NOMBRE,
		G.NOMBRE                  AS NOMBRE,
		C.PERSONA_NATURAL,
		C.CON_INICIO_ACTIVIDADES
		FROM CLIENTE C
		INNER JOIN GIRO G ON C.ID_GIRO = G.ID
		WHERE C.ACTIVO = 1
	</select>
</mapper>