<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- to activate annotations in beans already registered in the ApplicationContext -->
    <context:annotation-config/>
    <aop:aspectj-autoproxy/>

    <context:component-scan base-package="cl.andina.tesis.logic,cl.andina.tesis.dao" />

    <import resource="classpath:spring-database-config.xml"/>

    <bean id="mybatisSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-wsu-config.xml"/>
    </bean>

    <import resource="classpath:spring-wsu-mappers-beans-config.xml"/>

    <bean id="clienteService" class="cl.andina.tesis.services.impl.ClienteServiceImpl"/>

    <!-- <bean id="valorizadorCarga" class="cl.depocargo.rso.logic.ValorizadorCargaRetiro" scope="prototype"/> -->


    <!-- scans packages to find and register beans within the application context -->
    <context:component-scan base-package="cl.andina.tesis.services.external"/>

    <import resource="classpath:webServices.xml"/>
</beans>